{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block base1 %}
{% load static %}

<head>
    <title> Password Reset Confirm</title>
 </head>
<link rel="stylesheet" type="text/css" href="{% static 'first.css' %}">

    <body class="jumbotron"> 
        <div class="card" style="border: 1px solid #000; padding: 10% 10% 10% 10% ; margin: 3% 20% 30% 20%; " >
            <div class="content-section" >
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
            
</body>  
{% endblock %}