{% extends "base.html" %}

{% block base1 %}
<head>
   <title> Password Reset Complete</title>
</head>
<body  class="jumbotron">
   <div class="card" style="border: 1px solid #000; padding: 10% 10% 10% 10% ; margin: 3% 20% 30% 20%; " >
      <div class="alert alert-info" style="text-align: center;">
         Your Password has been set!
      </div>
            
        <a class="btn btn-outline-info mb-3" href = "{% url 'login' %}"> Sign In Here</a>
      
      </div>
</body>


{% endblock %}



