{% extends "innerbase.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Attachments</title>
</head>

<body class="jumbotron">
  {% block innerbase %}
  <div class="heading" style="display: flex; justify-content: space-between;">
    <h1><strong>Attachments!</strong></h1>
    {% if user.user_teachers != '' %}
    <a style="width: 14%; height: 20%; float: right; " name="createpost" class="zoom btn btn-primary"
      href="{% url 'attachment-create' %}">Add Attachment</a>
    {% endif %}
  </div>
  <hr style="width: 50%; text-align: left; margin-left: 0;" />
  <div class="tutorial-list">
    {% for i in attachment %}
    <a href="{% url 'attachment-detail' i.id %}">
      <h2 onMouseOver="this.style.color='rgb(39, 185, 185'" onMouseout="this.style.color='rgb(44, 57, 65)'">{{ i.title }}</h2>
    </a>
    <p>{{i.date_posted}}</p>
    <br />
    <hr />
    {% endfor %}
  </div>
</body>

</html>
{% endblock %}