{% extends "innerbase.html" %} {% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="jumbotron">
  {% block innerbase %}
  <div class="heading" style="display: flex; justify-content: space-between;">
    <h1 style="text-transform: capitalize;"><strong> {{attachment.title}} </strong></h1>
      <br>
      {% if user.user_teachers != '' %}
      <div class="buttons">
        <a class='btn btn-primary' name="createpost" href="{% url 'attachment-update' object.id %}">Update Attachment</a>
        <a class='btn btn-outline-danger' name="createpost" href="{% url 'attachment-delete' object.id %}">Delete Attachment</a>
      </div>
      {% endif %}
    </div>

    {% if attachment.file %}
    <p>Attached File (click to open):
    <a target="blank" href="{{attachment.file_url}}">  <h2> <b> <img src="https://elf.ku.edu.np/theme/image.php/aardvark/page/1598794457/icon" class="iconlarge activityicon" alt=" " role="presentation">  {{attachment.file}} </b></h2>  </a>
    <p>{{ attachment.date_posted }}</p>
    {% endif %}

  <div class="col-md-12 xm-0">
    <br />
  </div>
  {% endblock %}
</body>

</html>