{% extends "second/base2.html" %} {% load static %} {% block base2 %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Detail</title>
  </head>

  <body class="jumbotron">
    <h1>Course Detail</h1>
    <h1>Announcements</h1>
    <p>{{course.announcement}}</p>
    <br />
    <h1>Syllabus</h1>
    <p><a href="{{course.syllabus.url}}">  {{ course.syllabus }}</p> </a>
    <hr />
    <h1>Course Plan</h1>
    <p><a href="{{course.course_plan.url}}">  {{ course.course_plan }}</p> </a>
    <hr />
    <a href="{% url 'tutorials' %}">  <h1> Tutorials </h1></a>
    
    <div class="col-md-12 xm-0">
      <br>
      {% if user.user_teachers != '' %}
      <a class='btn btn-secondary' name="createpost" href="{% url 'resource-update' object.id %}">Update Course</a>
      <a class='btn btn-outline-danger' name="createpost" href="{% url 'resource-delete' object.id %}">Delete Course</a>
      {% endif %}
    </div>
  </body>
</html>
{% endblock %}
