{% extends "innerbase.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title %}
  Resources
  {% endblock %}
</head>

<body class="jumbotron">
  {% block innerbase %}

<div class="courses jumbotron">

  <div class="heading" style="display: flex; justify-content:space-between;">
    <h1><strong>My Courses!</strong></h1>
    {% if user.user_teachers != '' %}
    <a style="width: 12%; height: 20%;" name="createpost" class="zoom btn btn-primary"
      href="{% url 'course-create' %}">Add Course</a>
    {% endif %}
  </div>
  <hr style="width: 50%; text-align: left; margin-left: 0;" />
  <!--     
    For Teachers -->
  {% for i in course %}
  {% if user.user_teachers == i.instructor.user_teachers %}
  {% if i.instructor.user_teachers != '' %}
  {% if i.instructor.user_teachers.school == user.user_teachers.school %}

  <div class="course-list" style="padding-bottom: 5px; background-color: #fff; margin: 2% 0; padding: 1% 2%;">

    <a href="{% url 'course-detail' i.id %}">
      <h1 style="color: rgb(44, 57, 65); text-transform: capitalize;" onMouseOver="this.style.color='rgb(39, 185, 185'" onMouseout="this.style.color='rgb(44, 57, 65)'">{{i.course_title}}</h1>
    </a>
    <p style="color: rgb(44, 57, 65);">{{i.instructor}}</p>
    <hr height="10px" />
  </div>

  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}

  <!-- For Parents -->
  {% for i in course %}
  {% if i.instructor.user_teachers.school == user.user_parents.school %}
  {% if i.instructor.user_teachers.grade == user.user_parents.ChildGrade %}

  <div class="course-list" style="padding-bottom: 5px;">

    <a href="{% url 'course-detail' i.id %}">
      <h1 style="color: rgb(44, 57, 65); text-transform: capitalize;" onMouseOver="this.style.color='rgb(39, 185, 185'" onMouseout="this.style.color='rgb(44, 57, 65)'">{{i.course_title}}</h1>
    </a>
    <p style="color: rgb(44, 57, 65);">{{i.instructor}}</p>
    <hr style="height:10%; color: black solid;"  />
  </div>

  {% endif %}
  {% endif %}
  {% endfor %}


</div>

</body>

</html>
{% endblock %}