{% extends "second/base2.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources</title>
  </head>
  <body class="jumbotron">
    {% block base2 %}
    <h2>This is a block.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam,
      itaque exercitationem alias maiores veniam laborum vel distinctio
      veritatis eum aut rerum quibusdam repudiandae praesentium dolor adipisci
      incidunt mollitia fugiat.
    </p>
  </body>
</html>
{% endblock %}
