{% extends "second/base2.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources</title>
  </head>
  <body class="jumbotron">
    {% block base2 %}
    <div class="heading">
      <h1>My Courses!</h1>
      <hr style="width: 50%; text-align: left; margin-left: 0;" />
    </div>
    <div class="course-list">
      {% for i in course %}
      <a href="{% url 'course-detail' %}"> <h1>{{i.course}}</h1> </a>
      <p>{{i.instructor}}</p>
      <hr style="width: 50%; text-align: left; margin-left: 0;" />
      <br />
      {% endfor %}
    </div>
  </body>
</html>
{% endblock %}
