{% extends "innerbase.html" %} {% load embed_video_tags %} {% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tutorial Detail</title>
</head>

<body class="jumbotron">
  {% block innerbase %}
  <div class="heading" style="display: flex; justify-content: space-between;">
    <h1 style="text-transform: capitalize;"><strong> {{tutorial.title}} </strong></h1>
      <br>
      {% if user.user_teachers != '' %}
      <div class="buttons">
        <a class='btn btn-primary' name="createpost" href="{% url 'tutorial-update' object.id %}">Update Tutorial</a>
        <a class='btn btn-outline-danger' name="createpost" href="{% url 'tutorial-delete' object.id %}">Delete Tutorial</a>
      </div>
      {% endif %}
    </div>

  <br />
  <!-- <a href="{{tutorial.tutorial.url}}"> {{ tutorial.tutorial }} </a> -->
  {% video tutorial.video 'large' %}
  <h4>Description</h4>
  <p>{{ object}}</p>
  <p>{{ tutorial.desc}}</p>

  {% endblock %}
</body>

</html>