{% extends "innerbase.html" %} {% load static %} {% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title %}
  Tutorials
  {% endblock %}
</head>

<body class="jumbotron">
  {% block innerbase %}
  <a style="margin-top: -35px; margin-bottom: 20px;" class="btn btn-outline-danger" href="{% url 'courses' %}"><i
      class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
  <div class="heading" style="display: flex; justify-content: space-between;">
    <h1><strong>Tutorials</strong></h1>
    {% if user.user_teachers != '' %}
    <a style="width: 12%; height: 20%; float: right; " name="createpost" class="zoom btn btn-primary"
      href="{% url 'tutorial-create' %}">Add Tutorial</a>
    {% endif %}
  </div>

  <!-- For Teachers -->
  {% for tut in tutorial %}
  {% if user.user_teachers == tut.author.user_teachers %}
  {% if tut.author.user_teachers != '' %}
  {% if tut.author.user_teachers.school == user.user_teachers.school %}
  <div class="tutorial-list">
    <a href="{% url 'tutorial-detail' tut.id %}">
      <h2 onMouseOver="this.style.color='rgb(39, 185, 185'" onMouseout="this.style.color='rgb(44, 57, 65)'">
        {{ tut.title }}</h2>
      {% video tut.video 'small' %}
    </a>
    <hr />
    <p> {{tut.author}}</p>
    <p>{{tut.date_posted}}</p>
    <br />
    <hr />
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}

  <!-- For Parents -->
  {% for tut in tutorial %}
  {% if tut.author.user_teachers.school == user.user_parents.school %}
  {% if tut.author.user_teachers.grade == user.user_parents.ChildGrade %}
  <div class="tutorial-list">
    <a href="{% url 'tutorial-detail' tut.id %}">
      <h1>{{ tut.title }}</h1>
      {% video tut.video 'small' %}
    </a>
    <hr />
    <p> {{tut.author}}</p>
    <p>{{tut.date_posted}}</p>
    <br />
    <hr />
  </div>

  {% endif %}
  {% endif %}
  {% endfor %}
</body>

</html>
{% endblock %}