Django == 3.0
django-crispy-forms == 1.9.0
appdirs == 1.4.3
asgiref == 3.2.10
html5lib == 1.0.1
pep517 == 0.8.2
Pillow == 7.1.1
progress == 1.5
pyparsing == 2.4.6
pytz == 2019.3
requests == 2.22.0
sqlparse == 0.3.0
urllib3 == 1.25.8
webencodings == 0.5.1
django-embed-video
django-bootstrap4
django-bootstrap-datepicker-plus
django-bootstrap-modal-forms
django-webpush
