{% extends "innerbase.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
Assignments
{% endblock %}
{% load static %}


{% block scripts %}

<head>
    <link rel="stylesheet" href="{% static 'assignments.css' %}" type="text/css" />
</head>
{% endblock %}

{% block innerbase %}

<body>
    <div class="posted">

        {% if t.author.user_teachers.school == user.user_parents.school %}
        {% if t.author.user_teachers.grade == user.user_parents.ChildGrade %}

        <h2>Submission Status</h2>
        <h3 style="color:rgb(39, 185, 185);"><strong>{{t.title}}</strong></h3>
        <p style="padding-left: 40px;">{{t.description}}</p>
        <table class="table table-hover">

            <tbody>
                <tr>
                    <td><strong>Course: </strong></td>
                    <td>{{t.course}}</td>
                </tr>
                {% if t.file %}
                <tr>
                    <td>
                        <strong>Attached File</strong> (click to open):
                    </td>
                    <td><a target="_blank" href="{{t.file_url}}"><i style="padding-left: 10px; padding-right: 10px;"
                                class="fa fa-file" aria-hidden="true"></i>
                            <u>{{t.file}}</u></a></td>
                </tr>
                {% endif %}

                <tr>
                    <td>
                        <strong>Posted On:</strong>
                    </td>
                    <td>{{t.date_posted}}</td>
                </tr>
                <tr>
                    <td>
                        <strong>Deadline:</strong>
                    </td>
                    <td>{{t.deadline}}</td>
                </tr>
                {% if sub %}
                {% if graded %}
                <tr>
                    <td>
                        <strong>Grade you received: </strong></td>
                    <td>{{graded.get.grade}}</td>
                </tr>
                <p>(You can't edit your submission now)</p>
                {% if graded.get.remarks %}
                <tr>
                    <td><strong>Remarks:</strong></td>
                    <td>{{graded.get.remarks}}</td>
                </tr>
                {% endif %}

                {% else %}
                <tr>
                    <td><strong>Submission Status</strong>:</td>
                    <td>Submitted for Grading</td>
                </tr>

                <tr>
                    <td>
                        <a class="btn btn-outline-primary" href="{% url 'submissions-update' sub.get.id %}">Edit
                            Submission</a>
                        <a class="btn btn-outline-danger" href="{% url 'submission-delete' sub.get.id %}">Delete
                            Submission</a>
                    </td>
                </tr>

                {% endif %}


                {% else %}
                <tr>
                    <td>
                        <a class="btn btn-outline-primary" href="{% url 'submissions' t.id %}">Add Submissions</a>
                    </td>
                </tr>

                {% endif %}
            </tbody>
        </table>

        {% endif %}
        {% endif %}

    </div>


</body>

{% endblock %}

</html>