{% extends "innerbase.html" %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    {% block scripts %}
    <link rel="stylesheet" href="{% static 'assignments.css' %}" type="text/css" />
    <style>
        .table1 td {
            min-width: 400px;
        }
    </style>
    {% endblock %}


</head>

<body>
    {% block innerbase %}
    <h3>Grade Submission</h3>

    <table class="table1 table table-hover">
        <tbody>
            <tr>
                <td><strong>Assignment:</strong></td>
                <td>{{submission.assignment}}</td>
            </tr>
            <tr>
                <td><strong>Submission:</strong></td>
                <td>{{submission.file}}</td>
            </tr>
            <tr>
                <td><strong>Submission Date:</strong></td>
                <td>{{submission.date_submitted}}</td>
            </tr>

        </tbody>
    </table>


    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'second/form-template.html' %}
        <div>
            <input type="submit" value="Add Grade" name="add_grade">
        </div>
    </form>

    {% endblock %}
</body>

</html>