{% extends "innerbase.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
Assignments
{% endblock %}
{% load static %}


<head>

    {% block scripts %}
    <link rel="stylesheet" href="{% static 'assignments.css' %}" type="text/css" />
    {% endblock %}

</head>
{% block innerbase %}

<body>


    {% load bootstrap4 %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}

    {% if user.user_teachers != "" %}

    <div class="posted">
        <h2>Posted Assignments On This Course</h2>
        {% for t in assignment %}
        <div class="one-assignment">
            <h2>{{t.title}}</h2>
            <p>{{t.description}}</p>
            <p>Course: {{t.course}}</p>
            {% if t.file %}
            <p>Attached File (click to open):
                {% endif %}
                <a target="_blank" href="{{t.file_url}}"> {{t.file}}</a></p>
            <p>Posted On: {{t.date_posted}}</p>
            <p>Deadline : {{t.deadline}}</p>

            {% if t.author == request.user %}
            <a class="btn btn-outline-primary" href="{% url 'submissions' t.id %}">See Submissions</a>

            <a class="btn btn-outline-primary" href="{% url 'assignment-update' t.id %}">Edit Assignment</a>

            <a class="btn btn-outline-danger" href="{% url 'assignment-delete' t.id %}">Delete Assignment</a>
            {% endif %}
        </div>

        {% endfor %}



        {% elif user.user_parents != "" %}

        {% for t in assignment %}
        {% if t.author.user_teachers.school == user.user_parents.school %}
        {% if t.author.user_teachers.grade == user.user_parents.ChildGrade %}
        <div class="one-assignment">
            <h2>{{t.title}}</h2>
            <p>{{t.description}}</p>
            <p>{{t.course}}</p>
            {% if t.file %}
            <p>Attached File (click to open):
                <a target="_blank" href="{{t.file_url}}"> {{t.file}}</a></p>
            {% endif %}
            <p>Posted On: {{t.date_posted}}</p>
            <p>Deadline : {{t.deadline}}</p>
            <a class="btn btn-outline-primary" href="{% url 'assignmentstatus' t.id %}">See Status</a>
            <hr>
        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>


</body>

{% endblock %}



</html>