body {
    padding-top: 50px;
    font-family: sans-serif;

}

#banner {
    background-image: linear-gradient(to right, #8181F7FE, #5882FA);
}
/* 
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar {
    background-image: linear-gradient(to right, #8181F7, #5882FA);
    padding: 20 !important;
    padding-left: 50;
}

.navbar-nav {
    margin-left: 630px;
}

.navbar-nav li {
    padding: 20 0px;
    position: relative;
}

.navbar-nav a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    border-radius: 9px;
}

.navbar-brand {
    color: #000 !important;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 0px;
    margin-left: 150px;
}



.navbar-nav a::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #80dae0;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.navbar-nav a:hover::after {
    width: 80%;
} */

.lft {
    color: #fff;
    padding-top: 10%;
    margin-left: -10%;
}


.bottom-img {
    width: 100%;
    height: 70px;
    position: relative;
}

.banner-text {
    font-size: 45px;
    font-weight: 600;
    margin-top: 100px;
}



.form-control {
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
}
.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand b {
    color: #33cabb;		
}
.navbar .form-inline {
    display: inline-block;
}
.navbar a {
    color: #888;
    font-size: 15px;
}
.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}

.navbar a, .navbar a:active {
    color: #888;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .action-form a {		
    color: #33cabb;
    padding: 0 !important;
    font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
    color: #fff;
    background: #33cabb !important;
    border: none;
}	
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
    color: #fff;
    background: #31bfb1 !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}
.navbar .social-btn .facebook-btn {
    background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
    background: #4676bd;
}
.navbar .social-btn .twitter-btn {
    background: #64ccf1;
}
.navbar .social-btn .twitter-btn:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}
.form-check-label input {
    position: relative;
    top: 1px;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}