html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}



.register {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 2%;
  padding: 2%;
  max-height: 100vh;


}

.register .row {
  max-height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;

}

.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left input {
  border: none;
  border-radius: 1.5rem;
  margin-top: 30%;
  padding 2%;
  width: 14%;
  height: 14%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 0;
  margin-bottom: 3%;
  cursor: pointer;
}

 .loginBtn {
  height:200px;
  width: 500px;
  margin-left: -70px;
}
.register-right {
  background: #f8f9fa;
  border-top-left-radius: 15% 50%;
  border-bottom-left-radius: 15% 50%;
  max-height: 90vh;

}

.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

.register-left p {
  font-weight: lighter;
  font-size: 20px;
  padding: 12%;
  margin-top: -9%;
}

.register-left h2 {
  font-weight: lighter;
  padding-top: 10%;
  padding-bottom: 2%;
  margin-top: -9%;
}


.btnRegister {
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 80px;
  cursor: pointer;
  display: flex;


}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 14%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.register-heading{
  text-align: center;
  margin-top: 4%;
  margin-bottom: -15%;
  color: #495057;
}

.form-box input {

  width: 300px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding-left: 35px;
  background: rgba(255, 255, 255, 0.884);
  color: rgb(77, 77, 77);
}

.form-box {

  width: 400px;
  height: 350px;
  margin-left: 50%;
  margin-top: -10px;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 350px; 
  padding-top: 25%; 
  padding-left:45%;
}

.form-box img {
  width: 80px;
  height: 80px;
  margin-top: -45px;
  border: 0;
  border-radius: 50px;
}

.mainForm {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,107,107,1) 0%, rgba(0,212,255,1) 100%);
  width: 70%
}

.form-box li {
  display: none;
}
