{% extends "innerbase.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Student Ids</title>
    {% block scripts %}

    <script type="text/javascript">
        window.onload = function () {
            var a = document.getElementById('pdc').innerHTML;
            var b = document.getElementById('adc').innerHTML;
            var c = parseInt(a) + parseInt(b);
            document.getElementById('pd').innerHTML = c;

        };
    </script>
    {% endblock %}
</head>

<body>
    {% block innerbase %}

    <div class="row" style="margin-top: 40px">
        <div class="col-lg-6 graph">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-lg-5 details">
            <div style="padding-left:20px;">
                <h5>
                    Total School Days
                    <span id="pd"></span>
                </h5>
                <h5>Total Days Present: <span id="pdc">{{attend.get.presentdayss}}</span>
                </h5>
                <h5>Total Days Absent: <span id="adc">{{attend.get.absentdayss}}</span>
                </h5>
            </div>
            <br>
            <h4>
                <b>{{attend.get.student.full_name}}</b> was absent on the following
                date(s):
            </h4>
            <br>


            <div class="card-columns">
                {% for d in attend.get.days %}
                <div class="card bg-dark" style="height: 80px; width: 170px; margin-bottom: 30px;">
                    <div class="card-body text-center">
                        <p class="card-text"><b>
                                <span style="color: azure;">{{d.date}}</span>
                            </b></p>
                    </div>
                </div>

                {% endfor %}

            </div>

        </div>
        <div class="col-lg-1 details"></div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: "pie",

            // The data for our dataset
            data: {
                labels: ["present", "absent"],
                datasets: [{
                    label: "Attendance",
                    backgroundColor: ["rgb(255, 99, 132)", "rgb(0, 99, 132)"],
                    borderColor: "rgb(255, 99, 132)",
                    data: [document.getElementById('pdc').innerHTML, document.getElementById('adc')
                        .innerHTML
                    ],
                }, ],
            },

            // Configuration options go here
            options: {},
        });
    </script>
    {% endblock %}
</body>

</html>