{% extends "innerbase.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Student Ids</title>
  <script src=" {% static 'registerchild.js' %} "></script>
  <link rel="stylesheet" href="{% static 'form1.css' %}" />
  {% block title %}
  Student Registration
  {% endblock %}
</head>

<body class="jumbotron">{% block innerbase %}
  <div class="jumbotron">
    <center>
      <div class="form-box">
        <form method="POST">
          {% csrf_token %} {% include 'second/form-template.html' %}

          <button class="btn btn-outline-info" type="submit">ADD</button>
        </form>
      </div>
    </center>
    <br />
  </div>{% endblock %}
</body>

</html>