{% extends "innerbase.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Add routine</title>
  <link rel="stylesheet" type="text/css" href="{% static "second.css" %}">
  <link rel="stylesheet" href="{% static 'form1.css' %}" />

  <script src=" {% static 'registerchild.js' %} "></script>
</head>

<body style="padding-top: 55px;" class="jumbotron">
  {% block innerbase %}
  <a style="margin-top: -35px; margin-bottom: 20px;" class="btn btn-outline-danger" href="{% url 'routine' %}"><i
      class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
  <div class="jumbotron">
    <center>
      <div class="form-box">
        <form method="POST">
          {% csrf_token %} {% include 'second/form-template.html' %}
          <div>
            <button class="btn btn-outline-info" type="submit">ADD</button>
          </div>
        </form>
      </div>
    </center>
  </div>
  {% endblock %}
</body>

</html>