{% extends "base1.html" %}
{% block base2 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'second.css' %}">
    <link rel="stylesheet" href="{% static 'form1.css' %}">

</head>

<body>
    {% if user.user_teachers != "" %}
    <h2>Add assignment</h2>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button class='btn btn-outline-info' type='submit'>Post Assignment</button>
        </div>
    </form>


    <h2>Posted Assignments</h2>
    {% for t in tasks %}
    <h2>{{t.title}}</h2>
    <p>{{t.description}}</p>
    <p>Attached File (if any):</p><a href="{{t.file.url}}"> {{t.file}}</a>
    <p>Date Posted: {{t.date_posted}}</p>
    <p>Deadline : {{t.deadline}}</p>

    <a class='btn btn-outline-primary' href="{% url 'submissions' t.id %}">See Submissions</a>

    <a class='btn btn-outline-primary' href="{% url 'assignment-update' t.id %}">Edit Assignment</a>

    <a class='btn btn-outline-danger' href="{% url 'assignment-delete' t.id %}">Delete Assignment</a>
    {% endfor %}

    {% elif user.user_parents != "" %}
    {% for t in tasks %}
    <h2>{{t.title}}</h2>
    <p>{{t.description}}</p>
    <p>Attached File (if any):</p><a href="{{t.file.url}}"> {{t.file}}</a>
    <p>Date Posted: {{t.date_posted}}</p>
    <p>Deadline : {{t.deadline}}</p>

    {% if t.submissions_set.exists %}
    <p>Submitted for Grading</p>
    <a class='btn btn-outline-primary' href="{% url 'submissions-update' t.submissions_set.get.id %}">Edit
        Submission</a>
    <a class='btn btn-outline-danger' href="{% url 'submission-delete' t.submissions_set.get.id %}">Delete
        Submission</a>

    {% else %}
    <a class='btn btn-outline-primary' href="{% url 'submissions' t.id %}">Add Submissions</a>

    {% endif %}
    {% endfor %}


    {% endif %}
</body>

</html>
{% endblock %}