{% extends "innerbase.html" %}

<html>
{% load static %}

<!DOCTYPE html>

<head>
    {% block title %}
    Home
    {% endblock %}

    {% block scripts %}

    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css" />


    {% endblock %}
</head>


<body>
    <div class="jumbotron">
        {% block innerbase %}
        <div class="row row-height">


            <div class="col-lg-9" style="margin-top: -25px;">

                <br>
                {% for post in posts %}
                {% if post.author.user_teachers != "" %}
                {% if user.user_teachers != ""%}
                {% if post.author.user_teachers.school == user.user_teachers.school %}
                <div class="posts" name='posts'>
                    <br>
                    <div style="margin-left:20px;">

                        <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" height="45px"
                            width="45px">
                        <b>
                            {{post.author}}

                        </b><br>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}
                            <br>
                            <div class="edits">
                                <a class="btn btn-outline-primary" href="{% url 'post-update' post.id %}">Edit
                                </a>

                                <a class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}">Delete
                                </a>
                            </div>
                        </small><br><br>
                        <p class="content">
                            <b>{{post.content}}</b></p>
                    </div>


                    <img id='posting' src="/media/{{post.photo}}" onerror="this.style.display='none'">
                    <br>
                </div>
                <br>
                {% endif %}
                {% else %}

                {% if post.author.user_teachers.school == user.user_parents.school %}
                {% if post.author.user_teachers.grade == user.user_parents.ChildGrade %}
                <div class="posts" name='posts'>
                    <br>
                    <div style="margin-left:20px;">

                        <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" height="45px"
                            width="45px">
                        <b>
                            {{post.author}}

                        </b><br>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}
                            <br>

                        </small><br><br><br>
                        <p class="content">
                            <b>{{post.content}}</b></p>
                    </div>
                    <img id='posting' src="/media/{{post.photo}}" onerror="this.style.display='none'">
                    <br>
                </div>
                <br>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>





            <div class="col-lg-3 notices">
                {% if user.is_authenticated %}

                <div style="padding-top: 20px;">
                    <div class="notice-header">
                        <center>
                            <h4>Notices and Events</h4>
                        </center>
                    </div>
                    <div style="margin-top: 15px;">
                        {% for notice in notices %}
                        {% if user.user_teachers != '' %}
                        {% if notice.author.user_teachers.school == user.user_teachers.school %}
                        <div class="one-notice">
                            <small class="text-muted"> <i class="fa fa-circle" style="font-size: smaller;"></i>
                                {{ notice.date_posted|date:"F d, Y"}}</small>
                            <div class="notice-title"><a style="color: rgb(63, 36, 36);"
                                    href="{% url 'notice-detail' notice.id %}">
                                    <h5>{{notice.title}}</h5>
                                </a>

                            </div>
                        </div>
                        {% endif %}
                        {% elif user.user_parents != '' %}
                        {% if user.user_parents.school == notice.author.user_teachers.school and user.user_parents.ChildGrade == notice.author.user_teachers.grade %}
                        <div class="one-notice">
                            <small class="text-muted"> <i class="fa fa-circle" style="font-size: smaller;"></i>
                                {{ notice.date_posted|date:"F d, Y"}}</small>
                            <div class="notice-title"><a style="color: rgb(63, 36, 36);"
                                    href="{% url 'notice-detail' notice.id %}">
                                    <h5>{{notice.title}}</h5>
                                </a>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}


                </div>

                {% endif %}


            </div>





            {% endblock %}
        </div>
    </div>
    </div>


</body>


</html>