{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'innerbase1.css' %}" type="text/css" />
</head>

<body>
    <div class="wrapper">
        <div id="sidebar">
            <div id="sidebar-header">
                <img class="logo rounded-circle account-img" src="{{ user.profile.image.url }}"
                    style="width: 200px; height: 200px;">
                <h3 class="text-center"></i>{{ user.username }}</h3>
                <a href="{% url 'profile' %}">View Profile <i class="fas fa-user-circle"></i> </i></a>
            </div>
            <ul class="list-unstyled components">
                {% if user.user_teachers != "" %}
                <li class="active">
                    <a href="{% url 'home' %}"> <i class="ico fa fa-home" aria-hidden="true"></i>Home</a>
                </li>
                <li>
                    <a href="{% url 'registerchild' %}"><i class="ico fa fa-address-book"
                            aria-hidden="true"></i>Register
                        Children</a>
                </li>
                <li>
                    <a href="{% url 'post-create' %}"><i class="ico fa fa-th-large" aria-hidden="true"></i>Create
                        Post</a>
                </li>
                <li>
                    <a href="{% url 'attendance' %}"><i class="ico fa fa-check-square"
                            aria-hidden="true"></i>Attendance</a>
                </li>
                <li>
                    <a href="{% url 'courses' %}"><i class="ico fa fa-file-pdf" aria-hidden="true"></i>Resources</a>
                </li>
                <li>
                    <a href="{% url 'assignments' %}"><i class="ico fa fa-pen" aria-hidden="true"></i>Assignments</a>
                </li>
                <li>
                    <a href="{% url 'tutorials' %}"><i class="ico fa fa-file" aria-hidden="true"></i>Tutorials</a>
                </li>
                <li>
                    <a href="{% url 'routine' %}"><i class="ico fa fa-calendar" aria-hidden="true"></i>Class
                        Routine</a>
                </li>
                <li>
                    <a href="{% url 'notice-create' %}"><i class="ico fa fa-newspaper" aria-hidden="true"></i>Add
                        Notice</a>
                </li>

                <li>
                    <a href="{% url 'result' %}"><i class="ico fa fa-percent" aria-hidden="true"></i>Add Results</a>
                </li>
                <li>
                    <a href="{% url 'send-email' %}"><i class="ico fa fa-comments" aria-hidden="true"></i>Chat</a>
                </li>
                {% elif user.user_parents != "" %}
                <li class="active">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'result' %}">See Result</a>
                </li>
                <li>
                    <a href="{% url 'routine' %}">See Routine</a>
                </li>
                <li>
                    <a href="{% url 'courses' %}">Resources</a>
                </li>
                <li>
                    <a href="{% url 'assignments' %}">Assignments</a>
                </li>
                <li>
                    <a href="{% url 'tutorials' %}">Tutorials</a>
                </li>
                <li>
                    <a href="{% url 'attendance' %}">See Attendance</a>
                </li>
                <li>
                    <a href="{% url 'send-email' %}">Chat</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div id="content">

            <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-warning">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="btn btn-outline-danger" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="main-body">

                {% block innerbase %}
                {% endblock %}
            </div>
        </div>
    </div>


    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <script>
        (function ($) {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('reactive');
                $('#content').toggleClass('wide');

            });
        })(jQuery);
    </script>
</body>

</html>