{% extends "innerbase.html" %}
{% load crispy_forms_tags %}

{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
  <script type="text/javascript" src="{% static 'profile.js' %}"></script>
  <style>
    .profile {
      background-color: lightgrey;
      width: 30px;
      border: 2px solid black;
      margin: 20px;
    }
    body{
      height:100%;
      overflow-y:hidden;
    }
  </style>
</head>

  {% block innerbase %}
  <body style="height:100%;overflow-y:hidden;">
  <center>
  <div>
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" target="_blank"
    style="width: 250px; height: 250px;">
    <div style="background-color:#f1b739;width:50%;border-radius:3%;color:black;margin-top:-120px;padding-top:125px;">
    <h2 class="account-heading">{{ user.username }}</h2>
    <div class="col-lg-9 col-md-9 profile" style="margin-top: 10px;">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ u_form|crispy}}
          {{ p_form|crispy}}
        </fieldset>
        <div class="password-reset">
          <a href="{% url 'password_reset' %}"> <strong>Reset your password here.</strong></a>
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
      <br>
      <br>
    </div>
    </div>
    
  </div>
  </center>
  <script>
var help=document.getElementById("hint_id_username");
help.style.display="none";
</script>
  {% endblock %}
</body>