<!DOCTYPE html>
{% extends "innerbase.html" %} {% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% block title %}
  Chat
  {% endblock %}

  <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}" />
  <link href="http://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" s href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css" />

  <link rel="stylesheet" type="text/css" href="{% static 'responsive.css' %}" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <style>
    .rounded-edges {
      border-radius: 0.25rem;
    }
  </style>

</head>

{% comment %} <body class="">
  {% block innerbase %}
  <div class="">
    <div class="contact-section">
      <div class="container">
        <div class="row">
          <div class="contact-form col-md-8 wow fadeIn" style="margin-top: 70px;">
            <h1>Contact</h1>

            <form method="POST">
              {% csrf_token %} {% include 'second/form-template.html' %}
              <button class="btn btn-outline-info">Send</button>
            </form>
            {% if user.user_teachers != '' %}
            <a style="margin-top: 20px; margin-bottom: 10px; width: 50%;" name="createpost"
              class="zoom btn btn-secondary" href="{% url 'parent-profiles' %}">Parent Profiles
            </a>
            {% endif %}
            <a style="margin-top: 20px; margin-bottom: 10px; width: 50%;" name="createpost"
              class="zoom btn btn-secondary" href="{% url 'teacher-profile' %}">Teacher Profiles
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>{% endblock %}
</body> {% endcomment %}


<body>
{% block innerbase %}
  <section class="hero is-info">
    <div class="hero-body has-text-centered">
      <img src="\media\first\chat.png" alt="Chat Logo" width="100px" height="100px" style="margin: 2px;">
      <div class="container">
        <h1 class="title is-2">
          <B> Welcome  </B>
        </h1>

      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
      {% if user.user_parents != ''%}
      {% for room in rooms %}
      {% if room.talkto == user %}
        <div class="column">

          <h3 class="title is-4" ><B>{{room.name}},</B> Click Below To Chat With Your Child's Class Teacher</h3>
              <div class="content">
                <p>
                  {{room.description}}
                </p>
                <a href="rooms/{{room.slug}}" button class="btn btn-outline-info" type="submit" style="font-size: 25px; border-radius: 15px;">Chat</a>

          </div>
        </div>
        {% endif %}
        {% endfor %}
      {% elif user.user_teachers != ''%}
      {% for room in rooms %}
      {% if room.talkto.user_parents.school == user.user_teachers.school %}
      {% if room.talkto.user_parents.ChildGrade == user.user_teachers.grade %}
        <div class="column">

          <h3 class="title is-4" > Click On Parents Name Below To Chat </h3>
              <div class="content">
                <p>
                  {{room.description}}
                </p>
                <a href="rooms/{{room.slug}}" button class="btn btn-outline-info" type="submit" style="font-size: 25px; border-radius: 15px;">Chat</a>

          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      {% endif %}

      </div>
    </div>
  </section>
  {% endblock %}
</body>
</html>