{% extends "base1.html" %} {% block base2 %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TeacherProfiles</title>
    <script src=" {% static 'registerchild.js' %} "></script>
    <link rel="stylesheet" href="{% static 'form1.css' %}" />
    <script>

            function copyToClipboard() {
              /* Get the text field */
              var copyText = document.getElementById("email");

              /* Select the text field */
              copyText.select();
              copyText.setSelectionRange(0, 99999); /*For mobile devices*/

              /* Copy the text inside the text field */
              document.execCommand("copy");

              /* Alert the copied text */
              alert("Copied the text: " + copyText.value);
      }
            }
    </script>
  </head>

  <body class="jumbotron">
    <center>
      <h1>List Of Teachers</h1>
      <input
        class="form-control"
        type="text"
        id="myInput"
        onkeyup="myFunction()"
        placeholder="Search for names..."
      />
      <table class="table table-hover" id="myTable">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        {% for t in teachers %}
        <tr>
          <td><b> {{t.user.username}} </b></td>
          <td id="email">
            <a href="{% url 'send-email' %}">
              <b>{{t.user.email}}</b>
            </a>
            <br />
            <button
              onclick="copyToClipboard()"
              class="btn btn-dark"
              style="height: 35px;"
            >
              Copy Email
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </center>

    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </body>
</html>
{% endblock %}
